{% extends "travel/_base.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{% static 'travel/entry.css' %}"/>
{% endblock additional_css %}

{% block main_content %}

<div class="hero">
    <h1>Enter Your Wilderness Travel Plan</h1>

    Notes:
    <ul>
        <li>
            This tool is designed to work with a variety of sized screens (which we certainly have) and at a variety of
            resolutions (which again, we have). If things are too squished, making the web browser narrower may actually
            fix the problem.
        </li>
        <li>
            Name, email, and location fields can be either selected from dropdown list by clicking the text box, using
            the auto-complete after starting to enter a value, or typing in a novel value.
        </li>
        <li>
            For fields who's meanings aren't retaly apparent, hovering your curser over such fields will bring up an
            elaberating tip or hint.
        </li>
    </ul>
</div>
<div class="container">
    <form action="" method="POST" enctype=multipart/form-data>
        {% csrf_token %}
        <div class="entry-section">
            <h5>
                Trip Info
            </h5>
            <div class="row">
                <div class="row col-lg-5">
                    <datalist id="locations">
                        {% for loc in locations %}
                        <option>{{ loc }}</option>
                        {% endfor %}
                    </datalist>
                    <div class="col-xl-2">Entry:</div>
                    <input type="date" name="startdate" title="Entry Date" class="col-xl-3 date-input"
                            value="{{ start_date }}" required/>
                    <input type="text" name="entrypoint" placeholder="Entry Location" class="col-xl-7 text-input"
                            value="{{ entry_point }}" list="locations" required/>
                </div>
                <div class="row col-lg-5">
                    <div class="col-xl-2">Exit:</div>
                    <input type="date" name="enddate" title="Exit Date" class="col-xl-3 date-input" value="{{ end_date }}"
                            required/>
                    <input type="text" name="exitpoint" placeholder="Exit Location" class="col-xl-7"
                            value="{{ exit_point }}" list="locations" required/>
                </div>
                <div class="row col-lg-2">
                    <div class="col-xl-7" title="Will you be tracked by dispatch?">
                        <label class="radio-inline">
                            <input type="radio" name="tracked" id="tracked1" value="yes" {% if tracked %}checked{% else %}{% endif %} required>
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tracked" id="tracked2" value="no" {% if not tracked %}checked{% else %}{% endif %} required>
                            No
                        </label>
                    </div>
                    <input type="text" name="plb" placeholder="PLB #" class="col-xl-5" value="{{ plb }}"/>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>

{% endblock main_content %}