body {
    font-size: 14px;
    /*padding: 1px 2px;*/
}

.row {
    margin: 3px 0px;
}

.entry-section {
    border: 1px solid #d3d3d3;
    padding: 5px;
    background-color: #ececec;
    min-height: 45px;
    margin-top: 15px;
    color: black;
    margin-bottom: 15px;
}

.date-input {
    padding: 2px;
    font-size: 8pt;
}

.gar-green {
    background-color: #00D200;
}

.gar-amber {
    background-color: #FFBF00;
}

.gar-red {
    background-color: #FF6464;
}

::-webkit-calendar-picker-indicator {
    margin: 0px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.travelers-section input {
    margin: 2px 0px;
}

.set-height {
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*height: 30px;*/
}

.risk-label {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: 25px;
    /*background-color: yellow;*/
    -ms-transform: rotate(-60deg); /* IE 9 */
    -webkit-transform: rotate(-60deg); /* Safari 3-8 */
    transform: rotate(-60deg);
}

input[type=”text”] {
    padding: 1px 1px;
}

.col-xl-1 {
    padding: 1px 1px;
}
.col-xl-2 {
    padding: 1px 1px;
}
.col-xl-3 {
    padding: 1px 1px;
}
.col-xl-4 {
    padding: 1px 1px;
}
.col-xl-5 {
    padding: 1px 1px;
}
.col-xl-6 {
    padding: 1px 1px;
}
.col-xl-7 {
    padding: 1px 1px;
}
.col-xl-8 {
    padding: 1px 1px;
}
.col-xl-9 {
    padding: 1px 1px;
}
.col-xl-10 {
    padding: 1px 1px;
}
.col-xl-11 {
    padding: 1px 1px;
}
.col-xl-12 {
    padding: 1px 1px;
}
.col-lg-1 {
    padding: 1px 1px;
}
.col-lg-2 {
    padding: 1px 1px;
}
.col-lg-3 {
    padding: 1px 1px;
}
.col-lg-4 {
    padding: 1px 1px;
}
.col-lg-5 {
    padding: 1px 1px;
}
.col-lg-6 {
    padding: 1px 1px;
}
.col-lg-7 {
    padding: 1px 1px;
}
.col-lg-8 {
    padding: 1px 1px;
}
.col-lg-9 {
    padding: 1px 1px;
}
.col-lg-10 {
    padding: 1px 1px;
}
.col-lg-11 {
    padding: 1px 1px;
}
.col-lg-12 {
    padding: 1px 1px;
}